<?xml version="1.0"?>
<configuration>

	<configSections>
		<section name="Portal" type="APISoftware.Services.Configuration.PortalConfigurationHandler,Framework.Service.Configuration" />
		<section name="api.webServer" type="APISoftware.Services.Hosting.WebServerConfigurationHandler, Framework.Service.Host" />
		<section name="api.authorizationSettings" type="API.Healthcare.Platform.Security.AuthorizationConfiguration, API.Healthcare.Platform.Common" />
		<section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
	</configSections>

	<api.authorizationSettings>
		<!-- Excludes static content from authorization checks. -->
		<authorizationExclusions>
			<add name="AreaComponents" value="/Areas/.*/Components/.*" />
			<add name="AreaScripts" value="/Areas/.*/Scripts/.*" />
			<add name="AreaContent" value="/Areas/.*/Content/.*" />
			<add name="AreaImages" value="/Areas/.*/Images/.*" />
			<add name="AreaFonts" value="/Areas/.*/Fonts/.*" />
			<add name="Navigation" value="/Navigation/Resources/.*" />
		</authorizationExclusions>
	</api.authorizationSettings>

	<appSettings>
		<!--<add key="ApplicationInsightsKey" value="f6d01415-e2ec-4054-88de-d097ebab5d8e"/>-->
		<add key="GoogleAnalyticsPropertyId" value="UA-55505578-16"/>
		<add key="SuppressCertificateErrors" value="true" />
		<add key="host:CustomerCode" value="TMD001" />
		<add key="host:CustomerEnvironment" value="Test" />
		<add key="host:SecureStorageName" value="wfm-tm-shared-kv" />
		<add key="host:DirectoryId" value="147a2b71-5ce9-4933-94c4-2054328de565" />
		<add key="host:DirectoryDomain" value="apiazuredevge.onmicrosoft.com" />
		<add key="host:Realm" value="https://localhost:44301/" />
		<!--<add key="messaging:ManageEntities" value="true" />-->

		<!--For Service to service authentication tenant validation-->
		<add key="host:ValidIssuers" value="https://sts.windows.net/147a2b71-5ce9-4933-94c4-2054328de565/"/>
		<add key="host:ValidSubjects" value="2413d247-c098-43e2-a9ca-944e7383e092" />

		<!--Web Portal-->
		<add key="host:Subsystems" value="DispatchServer"/>

		<!--All Services-->
		<!--<add key="host:Subsystems" value="DispatchServer, PayServer, MaintenanceServer, InteractiveServer, ImportExportServer, StaffingServer, PostingServer, NotificationServer, SubscriptionServer, QuickBadgeServer, HistoricalArchiveServer, LaborViewServer, RetroCalculatorServer, TransactionMonitorServer, ScheduleServer, DashboardServer, ReportArchiveServer, ReportServer, FileShareServer, OpenShiftNotificationServer, PerformanceServer, LockServer, UpdateHubServer"/>-->

		<!-- TM Subscription: portal -->
		<add key="host:Id" value="2ff7f5dc-ae81-4707-be51-0a9465d81917" />
		<add key="host:Secret" value="smIVMK5i+wOdYWrZqNdJ/csOI5AffPvG+OK6qxdwEzI=" />
		<add key="host:Role" value="portal" />

		<!--ASP.NET-->
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="PreserveLoginUrl" value="true" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>

		<!--Locking-->
		<add key="LockMinimumExpiryTimeInMilliseconds" value="30000" />
		<add key="LockAverageExpiryTimePerRedlock" value="3000"/>
		<add key="LockDefaultExpiryTime" value="5000"/>

		<!--Authentication-->
		<add key="sso:IsEnabled" value="false"/>
		<add key="sso:MetadataAddress" value="https://login.microsoftonline.com/common/.well-known/openid-configuration"/>
		<add key="sso:DomainHint" value="apiazuredevge.onmicrosoft.com"/>
		<add key="sso:ValidIssuers" value="https://sts.windows.net/147a2b71-5ce9-4933-94c4-2054328de565/"/>
		<add key="sso:NotifyOnLogout" value="true"/>
		<add key="sso:NameClaimType" value=""/>
	</appSettings>

	<connectionStrings>
		<!--IIS Express: portal using WAS for services-->
		<add name="WebServicesInternalPath" connectionString="Provider=HTTP;Server=https://localhost:44308/" />
		<add name="WebServicesPath" connectionString="Provider=HTTP;Server=https://localhost:44301/" />
		<add name="RemoteCache" connectionString="Provider=RemoteCache;Endpoints=localhost:6379,abortConnect=False,allowAdmin=True" />

		<!--IIS Express: portal hosting WAS services-->
		<!--<add name="WebServicesInternalPath" connectionString="Provider=HTTP;Server=https://localhost:44301/" />
		<add name="WebServicesPath" connectionString="Provider=HTTP;Server=https://localhost:44301/" />
		<add name="RemoteCache" connectionString="Provider=RemoteCache;Endpoints=localhost:6379,abortConnect=False,allowAdmin=True" />-->

		<!--IIS: portal using WAS for services-->
		<!--<add name="WebServicesInternalPath" connectionString="Provider=HTTP;Server=https://localhost/server/" />
		<add name="WebServicesPath" connectionString="Provider=HTTP;Server=https://localhost/server/" />
		<add name="RemoteCache" connectionString="Provider=RemoteCache;Endpoints=localhost:6379,abortConnect=False,allowAdmin=True" />-->

		<!--IIS: portal hosting WAS services-->
		<!--<add name="WebServicesInternalPath" connectionString="Provider=HTTP;Server=https://localhost/portal/" />
		<add name="WebServicesPath" connectionString="Provider=HTTP;Server=https://localhost/portal/" />
		<add name="RemoteCache" connectionString="Provider=RemoteCache;Endpoints=localhost:6379,abortConnect=False,allowAdmin=True" />-->

		<!--docker: portal using WAS for services-->
		<!--<add name="WebServicesInternalPath" connectionString="Provider=HTTP;Server=https://<web-services-ip-address>/" />
		<add name="WebServicesPath" connectionString="Provider=HTTP;Server=https://<web-services-ip-address>/" />
		<add name="RemoteCache" connectionString="Provider=RemoteCache;Endpoints=ggh0j2h2e:6379,abortConnect=False,allowAdmin=True" />-->

		<!--docker: portal hosting WAS services-->
		<!--<add name="WebServicesInternalPath" connectionString="Provider=HTTP;Server=https://localhost/" />
		<add name="WebServicesPath" connectionString="Provider=HTTP;Server=https://localhost/" />
		<add name="RemoteCache" connectionString="Provider=RemoteCache;Endpoints=ggh0j2h2e:6379,abortConnect=False,allowAdmin=True" />-->

		<!--kubernetes-->
		<!--<add name="WebServicesInternalPath" connectionString="Provider=HTTP;Server=https://10.1.0.100:8443/taco001/tm/test/web-services/" />
		<add name="WebServicesPath" connectionString="Provider=HTTP;Server=https://k8sdemo.eastus.cloudapp.azure.com/taco001/tm/test/web-services/" />-->
	</connectionStrings>

	<system.net>
		<defaultProxy useDefaultCredentials="true" />
	</system.net>

	<system.web>
		<httpRuntime targetFramework="4.6.2"/>
		<httpCookies requireSSL="true" />
		<compilation defaultLanguage="c#" debug="false" batch="false" targetFramework="4.6.2" />
		<pages enableSessionState="false" enableViewState="false" enableViewStateMac="false" autoEventWireup="false" enableEventValidation="false">
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Optimization" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
				<add namespace="APISoftware.Web"/>
			</namespaces>
			<controls>
				<add tagPrefix="web" namespace="APISoftware.Web.Forms" assembly="Framework.Web" />
				<add tagPrefix="web" namespace="APISoftware.Web.Forms" assembly="Portal.System" />
				<add tagPrefix="web" namespace="APISoftware.Web.Forms.Fields" assembly="Portal.System" />
				<add tagPrefix="web" namespace="APISoftware.Web.Forms.Fields" assembly="Framework.Web" />
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="webopt" namespace="Microsoft.AspNet.Web.Optimization.WebForms" assembly="Microsoft.AspNet.Web.Optimization.WebForms" />
				<add tagPrefix="analytics" src="~/AnalyticsControl.ascx" tagName="script"/>
			</controls>
		</pages>
		<customErrors mode="Off"/>
		<authentication mode="None">
			<forms loginUrl="~/Login.aspx" />
		</authentication>
		<authorization>
			<allow users="?"/>
		</authorization>
		<identity impersonate="false" />
		<trace enabled="false" requestLimit="50" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		<sessionState mode="Off"/>
		<machineKey validationKey="FA2F86CCD0C4F9D05C55A042BF15D10E3ED838DF290038BA44352D176E7546B6E9AC763045BBCA085E3AFC2A3680E7142282A87869B5CACF3316B80B8C708534" decryptionKey="238B7B4BB9D2C9E5FE4674F4AEC756F05D59D9804BFCA046" validation="SHA1"/>
	</system.web>

	<system.webServer>
		<handlers>
            		<remove name="WebDAV"/>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
			<add name="pngHandler" path="*.png" verb="*" type="APISoftware.Applications.Portal.PngHttpHandler,Portal.System" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" preCondition="" />
			<add name="gifHandler" path="*.gif" verb="*" type="APISoftware.Applications.Portal.GifHttpHandler,Portal.System" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" preCondition="" />
			<add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</handlers>
		<modules>
            		<remove name="WebDAVModule"/>
			<add name="AuthenticationModule" type="GE.Healthcare.TimeManagement.Web.Security.Modules.AuthenticationModule,TimeManagement.Web.Security" preCondition="" />
			<add name="CookieManagerModule" type="GE.Healthcare.TimeManagement.Web.CookieManagerModule,Framework.Web" preCondition="" />
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" preCondition=""/>
			<add name="LoggingModule" type="APISoftware.Applications.Portal.LoggingModule,Portal.System"/>
			<add name="AreaModule" type="GE.Healthcare.TimeManagement.Web.Areas.AreaModule, Framework.Web" />
		</modules>
		<staticContent>
			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
			<remove fileExtension=".json" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
		</staticContent>
		<validation validateIntegratedModeConfiguration="false" />
		<httpProtocol>
			<customHeaders>
				<add name="X-Frame-Options" value="SAMEORIGIN" />
			</customHeaders>
		</httpProtocol>
		<directoryBrowse enabled="false" />
	</system.webServer>

	<system.serviceModel>
		<services>
			<service
				behaviorConfiguration="APISoftware.Applications.Portal.ScheduleMaintenanceServiceBehavior"
				name="APISoftware.Applications.Portal.ScheduleMaintenanceService">
				<endpoint
					address=""
					binding="customBinding"
					bindingConfiguration="BasicCustomBinding"
					contract="API.Healthcare.Services.Model.System.IScheduleMaintenanceService"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
			<service
				behaviorConfiguration="APISoftware.Applications.Portal.ScheduleMaintenanceServiceBehavior"
				name="APISoftware.Applications.Portal.DiagnosticsService">
				<endpoint
					address=""
					binding="customBinding"
					bindingConfiguration="BasicCustomBinding"
					contract="API.Healthcare.Services.Model.System.IDiagnosticsService"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="APISoftware.Applications.Portal.ScheduleMaintenanceServiceBehavior">
					<dataContractSerializer maxItemsInObjectGraph="2147483647"/>
					<serviceAuthorization principalPermissionMode="Custom">
						<authorizationPolicies>
							<add policyType="APISoftware.Applications.Portal.ServiceAuthorizationPolicy, Portal.System" />
						</authorizationPolicies>
					</serviceAuthorization>
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />
					<serviceDebug includeExceptionDetailInFaults="false" />
					<matchAllAddressFilterBehavior/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<extensions>
			<behaviorExtensions>
				<add name="matchAllAddressFilterBehavior" type="API.Healthcare.Services.Model.MatchAllAddressFilterBehaviorElement, Framework.Service.Model"/>
			</behaviorExtensions>
		</extensions>
		<bindings>
			<customBinding>
				<binding
					name="BasicCustomBinding"
					closeTimeout="00:01:00"
					openTimeout="00:01:00"
					receiveTimeout="00:10:00"
					sendTimeout="00:01:00">
					<binaryMessageEncoding>
						<readerQuotas
							maxDepth="64"
							maxStringContentLength="8192"
							maxArrayLength="163840"
							maxBytesPerRead="4096"
							maxNameTableCharCount="16384"/>
					</binaryMessageEncoding>
					<httpTransport
						bypassProxyOnLocal="false"
						hostNameComparisonMode="StrongWildcard"
						useDefaultWebProxy="true"
						allowCookies="false"
						maxReceivedMessageSize="2147483647"/>
				</binding>
			</customBinding>
		</bindings>
	</system.serviceModel>

	<api.webServer>
		<Configuration location="web.host.config" />
	</api.webServer>

	<Portal xmlns="http://www.api-wi.com/XMLSchema/01.00/Configuration/Portal.xsd">
		<Session timeout="01:00:00" allowTicketTransfer="true" isExternalWebServer="false" />
		<Paths>
			<Path name="script" value="Resources/Scripts/"/>
			<Path name="image" value="Images/"/>
		</Paths>
		<Cache>
			<OutputCache timeout="01:00:00" />
			<WebCache timeout="00:05:00" />
		</Cache>
	</Portal>

	<system.diagnostics>
		<trace autoflush="true" />
		<sharedListeners>
			<add name="app" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\WFM\Support\Traces\APP.svclog" />
		</sharedListeners>
		<sources>
			<source name="API.Healthcare.Workforce.Hosting.WebServiceApplication" switchValue="Information">
				<listeners>
					<add name="app"/>
				</listeners>
			</source>
			<source name="GE.Healthcare.TimeManagement.Web.Security.Filters.PageAuthorizationFilter" switchValue="Information">
				<listeners>
					<add name="app"/>
				</listeners>
			</source>
			<source name="GE.Healthcare.TimeManagement.Web.Security.Filters.ServiceAuthorizationFilter" switchValue="Information">
				<listeners>
					<add name="app"/>
				</listeners>
			</source>
			<!--
			<source name="GE.Healthcare.TimeManagement.Web.Security.Providers.AuthenticationProvider" switchValue="Information">
				<listeners>
					<add name="app" />
				</listeners>
			</source>
			<source name="GE.Healthcare.TimeManagement.Web.Areas.AreaModule" switchValue="Information">
				<listeners>
					<add name="app" />
				</listeners>
			</source>
			-->
			<source name="API.Healthcare.Platform.Web.WebProcess" switchValue="Information">
				<listeners>
					<add name="app"/>
				</listeners>
			</source>
			<source name="API.Healthcare.Platform.Web.Security.IdentityAuthorizationFilter" switchValue="Information">
				<listeners>
					<add name="app"/>
				</listeners>
			</source>
			<source name="API.Healthcare.Platform.Web.Services.Security.HttpServiceAuthorizationFilter" switchValue="Information">
				<listeners>
					<add name="app"/>
				</listeners>
			</source>
			<source name="API.Healthcare.Platform.Web.Services.WebServiceHost" switchValue="Information">
				<listeners>
					<add name="app"/>
				</listeners>
			</source>
			<source name="API.Healthcare.Platform.Web.Providers.WebServiceHostProvider" switchValue="Information">
				<listeners>
					<add name="app"/>
				</listeners>
			</source>
			<source name="API.Healthcare.Platform.Web.Services.WebApiServiceClient" switchValue="Information">
				<listeners>
					<add name="app"/>
				</listeners>
			</source>
			<!--
			<source name="GE.Healthcare.TimeManagement.Web.AssemblyVirtualPathProvider" switchValue="Information">
				<listeners>
					<add name="app" />
				</listeners>
			</source>
			-->
		</sources>
	</system.diagnostics>

	<runtime>
		<gcConcurrent enabled="false" />
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<publisherPolicy apply="yes" />
			<probing privatePath="Framework;Processes;Subsystems;" />
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="HtmlSanitizationLibrary" publicKeyToken="d127efab8a9c114f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.ServiceBus" publicKeyToken="31BF3856AD364E35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.19.8.16603" newVersion="3.19.8.16603" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory.Platform" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.19.8.16603" newVersion="3.19.8.16603" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Protocols.OpenIdConnect" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Protocols" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.3.0.0" newVersion="2.3.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	
	<location path="Areas/ScheduleGrid/www/index.html">
		<system.webServer>
			<staticContent>
				<clientCache cacheControlMode="DisableCache" />
			</staticContent>
		</system.webServer>
	</location>
</configuration>
